@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    background-color: #333333;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-out;
}
a:hover{
    color:#D1A954;
}

ul{
    list-style: none;
}

button{
    cursor: pointer;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}

.title{
    font-size: 48px;
    font-family: Open Sans;
    font-weight: 300;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 100px;
    text-align: center;
}
.title-yellow{
    color: #D1A954;
}

.panel{
    top: 0;
    width: 150px;
    position: fixed;
    height: 100vh;
    background-color: #333333;
    opacity: 75%;
    z-index: 5;
}
.panel-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    height: 100%;
}
.panel-text{
    color: #C4C4C4;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    margin-bottom: 120px;
    white-space: nowrap;
}
.panel-line{
    width: 3px;
    height: 80px;
}

.icons{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 46px;
}
.img-inst{
    width: 26px;
    height: 26px;
}
.img-fb{
    width: 15px;
    height: 26px;  
}
.img-vk{
    width: 26px;
    height: 14px;
}
.img-yt{
    width: 26px;
    height: 18px;
}

header{
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 150px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 63px;
}
li{
    color: #FFF;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 700;
    text-transform: uppercase;
}
.number{
    color: #FFF;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
.header-content{
    display: flex;
    justify-content: space-between;
    gap: 125px;
    padding-bottom: 208px;
    padding-top: 191px;
}
.header-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-title{
    color:#FFF;
    font-size: 64px;
    font-family: Open Sans;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.header-text{
    color: #FFF;
    font-size: 14px;
    font-family: Open Sans;
    line-height: 150%;
    margin-bottom: 50px;
    max-width: 540px;
}

.item-close{
    display: none;
}

.burger-icons{
    margin-top: 89px;
    display: none;
}
.burger-icons-fb{
    width: 26px;
    height: 45px;
}
.burger-icons-inst{
    width: 45px;
    height: 45px;
}
.burger-icons-yt{
    width: 45px;
    height: 31px;
}
.burger-icons-vk{
    width: 45px;
    height: 24px;
}

.burger-btn{
    background-color: transparent;
    border: none;
    padding: 11px 10px;
    display: none;
}
.burger-btn > span{
    margin-bottom: 5px;
    display: block;
    height: 3px;
    width: 20px;
    background-color: #FFF;
}
.burger-btn > span:nth-child(2){
    width: 16px;
}

.burger-btn > span:last-child{
    margin-bottom: 0;
    width: 12px;
}

.poster{
    display: flex;
    flex-direction: column;
}

.poster-img{
    position: relative;
    width: 350px;
    height: 490px;
    margin-bottom: 55px;
    z-index: 10;
}
.poster-img::after{
    content: "";
    background-image: url("images/posterY.png");
    width: 350px;
    height: 490px;
    display: block;
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 20px;
}

.afisha1::after{
    background-image: url('images/afisha1Y.png');
}
.afisha2::after{
    background-image: url('images/afisha2Y.png');
}
.afisha3::after{
    background-image: url('images/afisha3Y.png');
}
.afisha4::after{
    background-image: url('images/afisha4Y.png');
}

.poster-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-poster {
    width: 370px;
    height: 510px;
    overflow: hidden;
    margin-bottom: 55px;
}

.switch{
    display: flex;
    flex-direction: row;
    gap: 154px;
}
.switch-text{
    color: #C4C4C4;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}
.switch-img{
    max-height: 18px;
}
.back, .next{
    display: flex;
    flex-direction: row;
    gap: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.about{
    margin-bottom: 150px;
}

.about-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.about-title{
    color: #FFF;
    font-size: 21px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
    white-space: nowrap;
}

.more-text{
    color: #FFF;
    font-size: 14px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    min-width: 445px;
}

.numbers-text{
    color: #FFF;
    font-size: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
}
.numbers-yellow{
    color: #D1A954;
    font-size: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
}
.numbers-img{
    margin-bottom: 15px;
}

.numbers-place{
    margin-bottom: 25px;
}


.about-img{
    width: 350px;
    height: 292px;
}

.staging-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
}

.staging-content__item{
    position: relative;
    width: 442px;
    height: 550px;
    z-index: 1;
    display: block;
}

.staging-content__item:hover::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #D1A954;
    background-image: url('images/search.png');
    background-repeat: no-repeat;
    background-position: center;
}

.staging-content__item:hover > .staging-wrap{
    opacity: 0;
}

.staging-wrap{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 40px;
    background-color: rgba(51, 51, 51, 0.65);
    transition: opacity 0.3s ease-out;
}

.staging-wrap > span{
    color: #FFF;
    font-size: 24px;
    font-family: Open Sans;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.staging-wrap > span:last-child{
    color: #FFF;
    font-size: 18px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    display: block;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 110px;
    left: -32px;
}

.achievements{
    margin-bottom: 150px;
    background-image: url('images/theater.png');
    background-size: 1110px 550px;
    background-repeat: no-repeat;
    background-position: center;
}
.achievements-content{
    padding-left: 190px;
    padding-top: 126px;
    padding-bottom: 126px;
    display: flex;
    flex-direction: row;
    gap: 103px;
}
.years{
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.years-text{
    color: #D1A954;
    font-size: 72px;
    font-family: Open Sans;
    font-weight: 700;
    letter-spacing: 7.2px;
    text-transform: uppercase;
}
.stars-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stars{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 25px;
}
.achievements-text{
    color: #FFF;
    font-size: 36px;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 150%;
    max-width: 540px;
}

.partners{
    margin-bottom: 120px;
}
.partners-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}
.partners-img{
    width: 200px;
    object-fit: cover;
}

/* footer */

.footer-wrap{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    margin-bottom: 80px;
}

.footer-info{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    gap: 25px;
}
.phones, .more{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-inputs{
    display: grid;
    grid-template-columns: 390px 310px;
    grid-template-rows: 100px;
    gap: 30px;
    margin-bottom: 40px;
}

.form-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

input{
    border: 1px solid #616161;
    background-color: #444;
    color: #989898;
    font-size: 12px;
    font-weight: 600;
    line-height: 150%;
    padding: 8px 15px;
    max-width: 180px;
    transition: 0.2s ease-out;
}
input:focus{
    outline: none;
}

input:focus{
    background-color: #787878;
    color: #3f3f3f;
}
input:focus::placeholder{
    color: #232222;
}

textarea{
    border: 1px solid #616161;
    background-color: #444;
    color: #989898;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    padding: 8px 15px;
    resize: none;
    transition: 0.2s ease-out;
}
textarea:focus{
    outline: none;
}

textarea:focus{
    background-color: #787878;
    color: #3f3f3f;
}

.form-footer{
    display: flex;
    justify-content: space-between;
}
.form-text{
    color: #989898;
    font-size: 12px;
    line-height: 150%;
    max-width: 390px;
}

.button {
    max-width: 190px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    background-color: #D1A954;
    color: white;
    border: 0;
    padding: 15px 0;
    transition: 0.5s ease-out;
}

.button:hover{
    background-color: #796232;
    color: white;
}

.development{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px #565656 solid;
}
.development-text{
    color: #989898;
    text-align: right;
    font-size: 12px;
    font-family: Open Sans;
    line-height: 150%;
}

@media (max-width: 1200px) {
    .container{
        max-width: 690px;
    }
    nav{
        flex-direction: column;
    }
    ul{
        margin-bottom: 50px;
        gap: 30px;
        white-space: nowrap;
    }
    .number{
        text-align: center;
    }
    .poster{
        display: none;
    }
    .about-img{
        display: none;
    }
    .about-numbers{
        min-width: 208px;
    }
    .achievements{
        background-size: cover;
    }
    .achievements-content{
        padding-left: 0;
    }
    .achievements-text{
        color: #FFF;
        font-size: 34px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        min-width: 450px;
    }
    .footer-wrap{
        grid-template-columns: 1fr;
        gap: 80px;
    }
    .footer-form{
        grid-row: 1/2;
    }
    .footer-info{
        flex-direction: row;
        justify-content: space-between;
    }
    .more{
        align-items: flex-end;
    }
    .form-inputs{
        grid-template-columns: 390px 270px;
    }
}

@media (max-width: 768px) {
    .container{
        max-width: 690px;
    }
    .panel{
        display: none;
    }
    ul{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
        top: 0;
        left: 0;
        bottom: 0;
        margin-bottom: 0;
        padding-left: 39px;
        padding-right: 47px;
        transform: translateX(-100%);
        transition: 0.5s ease-out;
    }
    li{
        margin-bottom: 35px;
    }
    nav{
        flex-direction: row;
        align-items: center;
    }
    .item-close{
        display: inline-block;
    }
    .menu-close{
        display: block;
        background-color: transparent;
        border: 0;
        width: 32px;
        height: 32px;
        right: 30px;
        top: 30px;
        position: absolute;
    }
    .burger-btn{
        display: block;
    }
    .nav > ul.active{
        background-color: #333333;
        transform: translateX(0);
    }
    .burger-icons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .burger-icons-firstline{
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin-bottom: 50px;
    }
    .burger-icons-secondline{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
    .burger-img{
        width: auto;
    }
    .number{
        text-align: end;
    }
    .poster{
        display: none;
    }
    .about-img{
        display: none;
    }
    .about-numbers{
        min-width: 208px;
    }
    .swiper-main {
        width: 100%;
      }
    .achievements{
        background-size: cover;
    }
    .achievements-content{
        padding-left: 0;
        gap: 25px;
    }
    .achievements-text{
        color: #FFF;
        font-size: 29px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        min-width: 388px;
    }
    .footer-wrap{
        grid-template-columns: 1fr;
        gap: 80px;
    }
    .footer-form{
        grid-row: 1/2;
    }
    .footer-info{
        flex-direction: row;
        justify-content: space-between;
    }
    .more{
        align-items: flex-end;
    }
    .form-inputs{
        grid-template-columns: 390px 270px;
    }
}

@media (max-width: 576px) {
    .container{
        max-width: 510px;
    }
    .panel{
        display: none;
    }
    .number{
        text-align: end;
    }
    .poster{
        display: none;
    }
    .about-content{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .about-more{
        text-align: center;
    }
    .about-img{
        display: none;
    }
    .about-numbers{
        text-align: center;
    }
    .numbers-place{
        margin-right: 60px;
    }
    .numbers-content{
        display: flex;
        flex-direction: row;
    }
    .swiper-main {
        width: 510px;
        width: 90%;
    }
    .achievements{
        background-size: cover;
    }
    .achievements-content{
        padding-left: 0;
        gap: 25px;
    }
    .achievements-text{
        color: #FFF;
        font-size: 29px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        min-width: 330px;
    } 
    .footer-wrap{
        grid-template-columns: 1fr;
        gap: 80px;
    }
    .footer-form{
        grid-row: 1/2;
    }
    .form-inputs{
        grid-template-columns: 1fr;
        grid-template-rows: 100px 100px;
        gap: 30px;
        margin-bottom: 40px;
    }
    input{
        max-width: 100%;
    }
    .footer-info{
        flex-direction: row;
        justify-content: space-between;
    }
    .form-footer{
        flex-direction: column-reverse;
        align-items: center;
    }
    .button{
        margin-bottom: 30px;
    }
    .form-text{
        text-align: center;
    }
    .more{
        align-items: flex-end;
    }
}

/*slider*/
.swiper-main {
    width: 442px;
  }